/*
    Couleurs

    Principale : #4AA0D5
*/

/*body{
	padding-top:50px;
}*/

/*
	Navigation / Header
*/

.navbar {
    margin-bottom:0;
}

.navbar-default {
    background-color: #fff;
    border-color: #f1f1f1;
}

.navbar-default .navbar-brand {
    color: #4AA0D5;
}

.navbar li, .navbar-brand{
    border-top: 4px solid #fff;
}

.navbar li:hover{
    border-top: 4px solid #3498DB;
}

.nav.navbar-nav li.active{
    border-top: 4px solid #3498DB;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #fff;
}

/*
    Accueil
*/

.louer-accueil .btn{
    margin-top:80px;
    letter-spacing: 1px;
    font-size: 14px;
}

.container-fluid{
    background: url(../img/route.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    background-position-y: -110px;
    color: #fff;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 55px;
}

.description{
    font-family: 'Open Sans';
    font-size: 17px;
    text-shadow: 0 1px 2px #949494;
}

.centre-vertical{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.formulaire{
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 0 0 2px #666869;
    -webkit-box-shadow: 0 0 2px #666869;
    box-shadow: 0 0 2px #666869;
    padding: 0 0 45px 0;
}

.formulaire label{
    color: #7c8490;
    font-size: 13px;
    padding-bottom: 10px;
    text-transform: uppercase;
    padding-left: 1px;
}

.formulaire form{
    padding:0 15px 0 15px;
    margin-top:30px;
}

.formulaire .titre{
    border-top: 1px solid #fff;
    color: #434b56;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.formulaire h2{
    margin: 0;
    font-size: 18px;
    text-align: center;
    padding: 20px 0 0 0;
    /* background: #4aa0d5; */
    background: #ededed;
    background: -moz-linear-gradient(top, #ededed 0%, #f6f6f6 53%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%);
    background: linear-gradient(to bottom, #ededed 0%,#f6f6f6 53%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );
}

/*
    Sélection des véhicules
*/

.type-vehicule-selecteur{
    text-align: center;
}

.type-vehicule-selecteur input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.citadine{background-image:url('../img/citadine.png');}
.utilitaire{background-image:url('../img/utilitaire.png');}

.type-vehicule-selecteur input:active +.label-type-vehicule{opacity: .9;}
.type-vehicule-selecteur input:checked +.label-type-vehicule{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}
.label-type-vehicule{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    height:70px;
    padding-top: 60px;
    margin-right: 25px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.label-type-vehicule:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
* { font-family:monospace; }
span.cc{ color:#6d84b4 }


/*
    Page
*/

.page{
    margin-top:80px;
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 0 0 2px #666869;
    -webkit-box-shadow: 0 0 2px #666869;
    box-shadow: 0 0 2px #666869;
    padding: 0 0 15px 0;
    color:#333;
}

.page h1{
    margin-top: 35px;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 35px;
}

.louer-administration .type-option{
    color: #fff;
}

.louer-administration .type-option .contenu{
    width:80%;
    margin: 0 auto;
}

.louer-administration .type-option .contenu a{
    color:#fff;
    background: #4aa0d7;
    display: block;
    padding: 20px 0;
    text-decoration: none;
    border-bottom: 4px solid #358ec7;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}

.louer-administration .type-option .contenu a:hover {
    background: #418ebf;
    border-bottom: 4px solid #2d83b9;
}

#bouton-ajouter-vehicule,
#bouton-ajouter-utilisateur{
    margin:40px;
    display:block;
}

#formulaire-utilisateur,
#formulaire-vehicule{
    display:none;
}

.formulaire{
    margin-top:50px;
    margin-bottom:50px;
}

.louer-contact .centre-vertical{
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-box-shadow: 0 0 2px #666869;
    -webkit-box-shadow: 0 0 2px #666869;
    box-shadow: 0 0 2px #666869;
    padding: 0 0 45px 0;
}

.louer-contact h1{
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.louer-contact label{
    color: #7c8490;
    font-size: 13px;
    padding-bottom: 10px;
    text-transform: uppercase;
    padding-left: 1px;
}

.louer-recherche .col-xs-12{

}

.louer-recherche .vehicule{
    background:#fff;
    border-left:4px solid #4AA0D5;
    padding:15px 35px 35px 35px;
    color:#333333;
    border-radius:2px;
    margin-top:20px;
}

.louer-recherche .vehicule .reserver{
    display:block;
}

.louer-recherche h2{
    margin-bottom:15px;
    border-bottom:1px solid #f1f1f1;
    padding-bottom:15px;
}

table th{
    text-align: center;
}

.erreurs{
    width:90%;
    margin:25px auto;
}

.erreurs li{
    list-style: none;
}
.erreurs ul {
    padding:0;
    margin:0;
}

table td{
    text-align: center;
}

footer{
    background: #333;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    padding: 20px 0;
    color: #adadad;
}

footer a{
    color: #4AA0D5;
}